<div class="container">
  <div class="row">
    <h4><%= @user.name %>がフォローしているユーザー一覧</h4>
    <% @user.followed_users.each do |user| %>
       <%= profile_img(user) %>
    <% end %>
    <h4><%= @user.name %>のフォロワー一覧</h4>
    <% @user.followers.each do |user| %>
      <%= profile_img(user) %>
    <% end %>
   </div>
</div>
