<%= @contact.name %> 様
<p>
  大変お世話になっております。<br>
  <br>
  この度は、お問い合わせいただきありがとうございます。<br>
  以下の内容で、お問い合わせを承りました。
</p>
<h4>お問い合わせ内容: <%= @contact.content %></h4>
<p>
  近日中に担当者よりご連絡させていただきます。<br>
  <br>
  何かご不明な点などございましたら、ご連絡ください。<br>
  今後ともよろしくお願いいたします。
</p>
<p>
  <%= link_to 'Achieveはこちら', root_url %>
</p>
