<h1>ポエム一覧</h1>
<section class="container">
  <div class="row">
    <div class="poem_setting col-md-8 col-md-offset-2 col-sm-10">
      <% @poems.each do |poem| %>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-2 title"><%= poem.title %></div>
          <div class="col-xs-5 content dot"><%= poem.content %></div>
          <div class="col-xs-3"><%= link_to "SHOW", herpoem_path(poem.id), class:"btn btn-info btn-xs" %></div>
        </div>
      <% end %>
    </div>
  </div>
</section>
